body {
    /* background: url(../images/science.jpeg); */
    text-align: center;

}

h2 {
    text-shadow: 2px 2px 10px white;
    color:lightskyblue;
}

.container {
    width: 100%;
}

.jumbotron {
    background-image: url(../images/science.jpeg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center top;
    background-color: white;
    height: 250px;
    text-align: center;
}
